@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.bg-custom {
  background-color: rgba(15, 15, 14, 1);
}

.text-custom {
  color: rgba(15, 15, 14, 1);
}

@layer base {
  html {
    font-family: "Montserrat", system-ui, sans-serif;
  }
}

@layer utilities {
  .grid-template-custom {
    display: grid;
    grid-template-areas: 
      "left right"
      "bottom right";
  }

  .grid-area-left {
    grid-area: left;
  }

  .grid-area-right {
    grid-area: right;
  }

  .grid-area-bottom {
    grid-area: bottom;
  }
}

.custom-gradient::after,
.welcome-custom-gradient::after,
.transform-custom-gradient::after,
.mision-custom-gradient::before,
.mision-custom-gradient::after,
.vision-custom-gradient::after {
  content: "";
  @apply absolute bottom-0 left-0 h-full w-full;
}

.welcome-custom-gradient::after {
  background: linear-gradient(180deg, rgba(15,15,14,1) 0%, rgba(15,15,14,0.5) 25%, rgba(0, 157, 61,0.5) 75%, rgba(0, 157, 61,0.4) 85%, rgba(15,15,14,1) 100%);
}

.mision-custom-gradient::before {
  background: linear-gradient(0deg, rgba(15,15,14,1) 0%, rgba(15,15,14,0.5) 15%, rgba(15,15,14,0.5) 85%, rgba(15,15,14,1) 100%);
}

.mision-custom-gradient::after {
  background: linear-gradient(90deg, rgba(15,15,14,1) 0%, rgba(15,15,14,1) 40%, rgba(15,15,14,0.9) 65%, rgba(15,15,14,0.6) 75%, rgba(15,15,14,0.5) 100%);
}

.vision-custom-gradient::after {
  background: linear-gradient(270deg, rgba(15,15,14,1) 0%, rgba(15,15,14,1) 40%, rgba(15,15,14,0.9) 65%, rgba(15,15,14,0.8) 75%, rgba(15,15,14,0.75) 100%);
}

.transform-custom-gradient::after {
  background: linear-gradient(180deg, rgba(15,15,14,1) 0%, rgba(15,15,14,0.75) 25%, rgba(15,15,14,0.75) 50%, rgba(15,15,14,0.75) 75%, rgba(15,15,14,1) 100%);
}

.custom-gradient::after {
  background: linear-gradient(180deg, rgba(2, 0, 36, 0) 0%, rgba(15, 15, 14, 0.485) 60%, rgb(15, 15, 14) 100%);
}

.slider-welcome .swiper-slide {
	transition: 0.3s all;
}

.slider-welcome .swiper-slide:not(.swiper-slide-prev):not(.swiper-slide-active):not(.swiper-slide-next) {
	opacity: 0;
}

.slider-welcome .swiper-slide-prev, 
.slider-welcome .swiper-slide-next {
	opacity: 0.75;
}

.slider-welcome .swiper-slide-active {
	transition: 0.3s all;
	opacity: 1;
}

.slider-mentors .swiper-button-prev, 
.slider-mentors .swiper-button-next,
.slider-testimonials .swiper-button-prev,
.slider-testimonials .swiper-button-next {
  color: #fff;
}

.slider-mentors .swiper-button-prev::after, 
.slider-mentors .swiper-button-next::after,
.slider-testimonials .swiper-button-prev::after,
.slider-testimonials .swiper-button-next::after {
  content: none;
}

@media (max-width: 1023.98px) {
  .slider-mentors .swiper-button-prev, 
  .slider-mentors .swiper-button-next {
    top: 30%;
  }
}

@media (min-width: 1024px) {  
  .slider-mentors .swiper-button-prev {
    left: auto;
    right: calc(48% - 27px);
  }
}

.slider-mentors-thumbnail .swiper-slide-visible {
  opacity: 0.5;
}

.slider-mentors-thumbnail .swiper-slide-thumb-active {
	transition: 0.3s all;
	opacity: 1;
}

.slider-mentors-thumbnail .thumbnail {
  transition: 0.3s all;
  background: rgba(0,157,61,1);
  width: 72px;
  height: 72px;
}

.slider-mentors-thumbnail .swiper-slide-thumb-active .thumbnail {
  background: rgba(236,103,7,1);
  width: 80px;
  height: 80px;
}

@media(max-width: 1023.98px) {
  .slider-mentors-thumbnail {
    display: none !important;
  }
}